* {
	font-family: 'Oxanium', 'Odibee Sans';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
}

hr {
	width: 60%;
	border-top: 2px solid #2C2416;
	border-bottom: 2px solid #C0A172;
	margin-left: 20%;
}

.highlighter {
	color: #C0A172;
}

.link-styling:hover {
	text-decoration: none;
}
                                                               /****LANDING PAGE****/
#img-land {
	background-color: grey;
	height: 100vh;
	background-image: url(../images/landpage.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.lnd-position {
	padding-top: 20vh;
	text-align: center;
}
.land-title-style {
	color: #C0A172;
}

.land-button-style {
	color: white;
	background-color: #BAA378;
	border-color: #f2f2f2;
}

.land-button-style:hover {
	opacity: .8;
}


.jumbotron-mycolor {
	background-color: rgb(44, 36, 22, .5);
	color: #fff;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
}

.jumbotron-mycolor hr {
	background-color: #BAA378;
}

.jumbo-shadow {
	/*box-shadow: 5px 5px rgb(69,56,35,0.4) !important;*/
	box-shadow: 6px 6px 15px 5px #0B0E0E;
}

														/* END OF LANDING PAGE */

														

														/* HOME PAGE */
/* start of navbar */
.my-nav-style {
	background-color: #382E1C;
	border-bottom: 3px solid #C0A172;
}

.my-own-logo:hover {
	color: #fff;
}

.active-nav-item {
	font-weight: bolder;
}

.my-li-nav-padding {
	padding-left: 1rem;
	padding-right: 1rem;
}

.my-link-color {
	color: #fff;
}


.nav-sign-in-link,
.nav-register-link {
	font-weight: bolder;
}
/* end of navbar */


/* carousel */
#showcase-carousel,
#showcase-carousel img {
	height: 85vh;
}

.carousel-header {
	font-size: 3rem;
	color: white;
	text-shadow: 2px 2px black;
}

.carousel-paragraph {
	font-size: 1.5rem;
	text-shadow: 1px 1px black;
}
/* end of carousel */


/* bigquote*/
.big-quote {
	height: 20vh;
	background-color: #382E1C;
	color: white;
	text-align: center;
	padding-top: 5vh;
	border-bottom: 3px solid #C0A172;
	border-top: 3px solid #C0A172;
}
/* end of bigquote */


/*content*/
/*first container*/
.first-container {
	height: 65vh;
	/*background-image: url(../images/firstcontainerbg.jpg);*/
	background-color: #2C2416;
	/*background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	margin-top: 15vh;
	padding-top: 4vh;
	margin-bottom: 10vh;
}

.first-section {
	background-color: #C0A172;
	padding: 0;
}

.first-section h3 {
	text-align: center;
}

.first-section p {
	text-align: center;
}

#first-section-button {
	color: white;
	background-color: #382E1C;
	border-color: #f2f2f2;
}

#first-section-button-position {
	text-align: center;
}

#first-section-button:hover {
	opacity: .8;
}

.description1 {
	padding-top: 20%;
	padding-bottom: 5%;
}

#image-first-section {
	padding: 0;
}
/*end first container*/

/*second container*/
.second-container {
	height: 75vh;
	background-color: #2C2416;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 10vh;
	margin-top: 10vh;
	padding-top: 4vh;
}

.second-section {
	background-color: #C0A172;
	padding: 0;
}

.second-section h3 {
	text-align: center;
}

.second-section p {
	text-align: center;
}

#second-section-button {
	color: white;
	background-color: #382E1C;
	border-color: #f2f2f2;
}

#second-section-button-position {
	text-align: center;
}

#second-section-button:hover {
	opacity: .8;
}

.description2 {
	padding-top: 20%;
	padding-bottom: 5%;
}

#image-second-section {
	padding: 0;
}
/*end second container*/


/*third container*/
.third-container {
	height: 80vh;
	background-color: #C0A172;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 10vh;
	margin-top: 10vh;
	padding-top: 2vh;
}

.third-section {
	background-color: #C0A172;
	padding-top: 4vh;
	padding-bottom: 3vh;
}

#my-card {
	border: 0;
	box-shadow: 3px 3px 4px 5px #171717;
}

#card-contents {
	text-align: center;
}

#card-button {
	color: white;
	background-color: #382E1C;
	border: 2px solid #2C2416;
}

#card-button:hover {
	opacity: .8;
}
/*end third*/


/*fourth container*/
.fourth-container {
	height: 100vh;
	background-image: url(../images/fourthcontainerbg.jpg);
	background-color: #2C2416;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 15vh;
	margin-top: 10vh;
}

.fourth-section {
	background-color: #C0A172;
	padding: 0;
}

.fourth-section h3 {
	text-align: center;
}

.fourth-section p {
	text-align: center;
}

#fourth-section-button {
	color: white;
	background-color: #382E1C;
	border-color: #f2f2f2;
}

#fourth-section-button-position {
	text-align: center;
}

#fourth-section-button:hover {
	opacity: .8;
}

.description4 {
	padding-top: 20%;
	padding-bottom: 5%;
}

#image-fourth-section {
	padding: 0;
}
/*end fourth container*/


/*footer*/
.my-footer {
	background-color: #382E1C;
	color: #C0A172;
	border-top: 2px solid #382E1C;
	margin-top: 5vh;
}

.social-color {
	color: #C0A172;
}

.social-color:hover {
	color: #f3f3f3;
}
/*end footer*/
									/**END HOME PAGE**/



									/**TRIVIAS PAGE**/
#carouselko {
	margin-top: 5%;
}
/* end first trivia container*/

.history-container {
	height: 75vh;
	background-color: #2C2416;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 20vh;
	padding-top: 4vh;
}

.history-section {
	background-color: #C0A172;
	padding: 0;
}

.trivia-description {
	padding-top: 20%;
	padding-bottom: 5%;
}

.trivia-description h3 {
	text-align: center;
}

.trivia-description p {
	text-align: center;
}

.image-trivias {
	padding: 0;
}

.artist-heading {
	text-align: center;
	margin-top: 5vh;
	font-weight: bolder;
	text-decoration: underline;
}

.facts-heading {
	text-align: center;
	margin-top: 10vh;
	font-weight: bolder;
	text-decoration: underline;
	margin-bottom: 3vh;
}

#second-trivia {
	margin-top: 1vh;
	height: 65vh;
}

.my-card-title {
	text-align: center;
	font-weight: bolder;
}

.trivia-card-shadow {
	box-shadow: 3px 3px 5px 6px #171717;
}
								/** END TRIVIAS PAGE **/



								/** REGISTER PAGE **/
#register-form {
	margin-top: 5vh;
}

.my-btn-outline {
	color: #C0A172;
	border-color: #C0A172;
}

.register-header {
	text-align: center;
	color: #2C2416;
	font-weight: bolder;
}

.register-border {
	border-bottom: 2px solid #C0A172;
	border-right: 2px solid #C0A172;
	border-top-right-radius: 5%;
	border-bottom-left-radius: 5%;
	box-shadow: 6px 6px 2px 1px #171717;
}

.register-para {
	text-align: center;
}
								/** Sign In Page **/

#signin-form {
	margin-top: 10vh;
}

.my-btn-outline {
	color: #C0A172;
	border-color: #C0A172;
}

.signin-header {
	text-align: center;
	color: #2C2416;
	font-weight: bolder;
}

.signin-border {
	border-bottom: 2px solid #C0A172;
	border-right: 2px solid #C0A172;
	border-top-right-radius: 5%;
	border-bottom-left-radius: 5%;
	box-shadow: 6px 6px 2px 1px #171717;
}

							/**Forgot page**/
.forgot-form {
	margin-top: 10%;
	text-align: center;
}

.signin-para {
	text-align: center;
}
									/** About Us Page **/

.about-heading {
	text-align: center;
	color: #2C2416;
	margin-top: 10%;
	font-size: 3rem;
	font-weight: bold;
}	

.about-paragraph {
	text-align: center;
	color: #171717;
}

#topBtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 22px;
	width: 50px;
	height: 50px;
	background: grey;
	opacity: .5;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 100%;
}




@media only screen and (max-width: 400px){

	.lnd-position {
		padding-top: 10vh;
	}

	.land-heading {
		font-size: 2.5rem;
	}

	hr{
		display: none;
	}

	#showcase-carousel,
	#showcase-carousel img {
	height: 38vh;
	}

	.carousel-header {
	font-size: 2rem;
	color: white;
	text-shadow: 1px 1px black;
	}

	.carousel-paragraph {
	font-size: 1rem;
	text-shadow: 1px 1px black;
	}


	.big-quote	{
		font-size: 80%;
		padding-top: 2vh;
	}

	.first-container {
		margin-top: 8vh;
		margin-bottom: 15vh;
	}

	.my-card-margin {
		margin-top: 10px;
	}

	.fourth-container {
		height: 100vh;
		margin-top: 130vh;
	}

	.fourth-section h3 {
		font-size: 85%;
	}

	.history-container {
		margin-top: 10vh;
	}

	.register-border,
	.signin-border {
		border: 0;
		box-shadow: none;
	}

	/**Trivia**/
	.history-container {
	height: 75vh;
	background-color: #2C2416;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 30vh;
	padding-top: 4vh;
	}

	.history-section {
	background-color: #C0A172;
	padding: 0;
	}

	.trivia-description {
	padding-top: 20%;
	padding-bottom: 5%;
	}

	.image-trivias {
	padding: 0;
	}

	#fifth-trivia {
		margin-top: 30vh;
		margin-bottom: 20vh;
	}

	.trivia-description {
	padding-top: 5%;
	padding-bottom: 5%;
	}

	.trivia-card-shadow {
		box-shadow: none;
		border-bottom: 2px solid black;
		border-top: 2px solid black;
	}
	/*end trivia*/
	
	/*about*/
	.about-heading {
		margin-top: 2%;
		font-size: 1.3rem;
	}

}



@media only screen and (min-width: 401px) and (max-width: 960px) {

	.lead {
		font-size: 2rem;
	}

	.landing-quote {
		font-size: 1.4rem;
	}

	.home-quote {
		font-size: 2rem;
	}

	.home-quote-para {
		font-size: 1.5rem;
	}

	hr {
		display: none;
	}

	#showcase-carousel,
	#showcase-carousel img {
	height: 53vh;
	}

	.carousel-header {
	font-size: 3rem;
	color: white;
	text-shadow: 2px 2px black;
	}

	.carousel-paragraph {
	font-size: 2rem;
	text-shadow: 2px 1px black;
	}

	.first-container {
		margin-top: 8vh;
		margin-bottom: 13vh;
	}

	.description1,
	.description2 {
		padding-top: 5%;
	}

	.description1 p,
	.description2 p {
		font-size: 1.4rem;
	}

	.description4 {
		padding-top: 3%;
	}

	.second-container {
		margin-bottom: 17vh;
	}

	.my-card-margin {
		margin-top: 7px;
	}

	.fourth-container {
		height: 100vh;
		margin-top: 126vh;
	}

	.fourth-section h3 {
		font-size: 170%;
	}

	.history-container {
		margin-top: 10vh;
	}

	.register-border,
	.signin-border {
		border: 0;
	}

	/*trivia*/
	.facts-heading {
		margin-top: 10vh;
	}

	.history-container {
	height: 75vh;
	background-color: #2C2416;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 30vh;
	padding-top: 4vh;
	}

	.history-section {
	background-color: #C0A172;
	padding: 0;
	}

	.image-trivias {
	padding: 0;
	}

	#fifth-trivia {
		margin-top: 30vh;
		margin-bottom: 20vh;
	}

	.trivia-description {
	padding-top: 5%;
	padding-bottom: 5%;
	/*end trivia*/
	}

	.register-border,
	.signin-border {
		border: 0;
		box-shadow: none;
	}

	.about-paragraph {
		font-size: 1.5rem;
	}

	#carouselko {
		height: 39vh;
	}

}